.board-delete-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  z-index: 5;
}

.board-delete-box {
  max-width: 370px;
  width: 100%;
  height: 215px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
}

.board-delete-title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #c3c3c3;

  h1 {
    margin: auto;
    font-weight: 1000;
    font-size: 20px;
  }

  strong {
    cursor: pointer;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #c3c3c3;
  }
}

.board-delete-content {
  height: 100px;
  border-bottom: 2px solid #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    padding-left: 5px;
  }
}

.board-delete-buttons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.delete-cancel {
  margin-right: 5px;
  height: 35px;
  width: 70px;
  border: 0;
  background-color: #dbdbdb;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
}

.delete-cancel:hover {
  background-color: #c3c3c3;
}

.delete-submit {
  margin-right: 25px;
  height: 35px;
  width: 70px;
  border: 0;
  background-color: #a51728;
  color: white;
  font-weight: 700;
  font-size: 13px;
  transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
}

.delete-submit:hover {
  background-color: #c61b30;
  cursor: pointer;
}
