.board-show-content {
  height: 100vh;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Rosario', sans-serif;
  padding-top: 68px;
}

.edit-bar {
  max-width: 820px;
  width: 100%;
  height: 55px;
  position: fixed;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);

  div {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 10px;
  }

  img {
    width: 50px;
  }

  div:hover {
    background-color: #e3e0e0;
    cursor: pointer;
    border-radius: 15px;
  }

  button {
    border: 0;
    background-color: gainsboro;
    margin-right: 30px;
    width: 95px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;

  }

  button:hover {
    background-color: #BBBBB4;
  }
}

.show-board-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 31%;
  font-size: 30px;
  max-width: 620px;
  width: 100%;
  font-weight: 800;
  text-transform: capitalize;
}
