.board-show-content {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Rosario', sans-serif;
  padding-top: 68px;
}

.edit-bar {
  width: 100%;
  height: 55px;
  position: fixed;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);


  div {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 10px;
    transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
  }

  img {
    width: 50px;
  }

  div:hover {
    background-color: #e3e0e0;
    cursor: pointer;
    border-radius: 15px;
  }

  button {
    border: 0;
    background-color: gainsboro;
    margin-right: 30px;
    width: 95px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
  }

  button:hover {
    background-color: #BBBBB4;
  }
}

.show-board-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  font-size: 40px;
  max-width: 620px;
  width: 100%;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 90px;
}

.fixed-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  position: fixed;
}

.pins-count {
  max-width: 620px;
  width: 100%;
  padding-top: 10px;
  height: 27px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
}

.pin-create {
  width: 275px;
  height: 257px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  flex-direction: column;
  box-sizing: border-box;
  transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.2s linear;
}

.pin-create-button {
  width: 90%;
  height: 200px;
  border-radius: 10px;
  background-color: #dbdada;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;

  div {
    width: 40px;
    height: 40px;
    background-color: crimson;
    font-size: 35px;
    text-align: center;
    border-radius: 35px;
    color: #F8F8FF;
    font-weight: 700;
  }
}

.pin-create-title {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  height: 10px;
  padding-bottom: 9px;

  div {
    width: auto;
    height: auto;
  }
}

.pin-create:hover {
  background-color: #e9e9e9;
}

.board-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.board-content {
  height: 75%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 170px;
  margin-right: 170px;
  padding-bottom: 50px;
}

.pin-items {
  width: 275px;
  height: 274px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  flex-direction: column;
  transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.2s linear;
  text-decoration: none;
  color: black;
}

.pin-items:hover {
  background-color: #e9e9e9;
}

.pin-item-img {
  width: 90%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40%;
  }
}

.pin-item-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 85%;
  height: 10px;
  padding-bottom: 9px;

  div {
    width: auto;
    height: auto;
  }
}
