.login-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  background-color: #F8F8FF;
  width: 380px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 85px;
  border-radius: 8px;
  box-shadow: 2px 3px 5px 3px #DCDCDC;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Dekko', cursive;
}

.login-form {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login-user {
  margin-bottom: 5px;
  width: 228px;
  input {
    padding: 12px 30px 7px 3px;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 20px;
  }
}

.login-password {
  margin-top: 5px;
  width: 228px;
  input {
    padding: 12px 30px 7px 3px;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 20px;
  }
}

.login-errors {
  color: red;
  padding-bottom: 25px;
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;
}

.login-submit {
  border-radius: 25px;
    transition: border-radius 0.55s cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
    margin-top: 10px;
    width: 230px;
    height: 34px;
    font-size: 20px;
    background-color: red;
    color: whitesmoke;
    margin-top: 25px;
}

.login-submit:hover {
  border-radius: 15px;
  background-color: crimson;
  cursor: pointer;
}

.signup-link {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dcdcdc;
    text-decoration: none;
    display: block;
    width: 70px;
    height: 15px;
    padding: 11px;
    text-align: center;
    border-radius: 12px;
    color: #00000094;
    font-weight: bold;
    transition: border-radius 0.55s cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
}

.signup-link:hover {
  background-color: #c0c0c0;
}

.login-greeting {
  h1 {
    font-weight: 700;
    font-size: 40px;
  }
}

.login-logo {
  img {
    width: 50px;
    margin-bottom: 15px;
  }
}
