*:focus {
  outline: none;
}

.main-nav {
  position: fixed;
  width: 100%;
  height: 66px;
  display: flex;
  border-bottom: 2px solid gainsboro;
  background: white;
  z-index: 10;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-box {
  width: 48px;
  display: flex;
  justify-content: center;
  border-radius: 39px;
  height: 48px;
  align-items: center;
}

.logo-box:hover {
  background-color: #e3e0e0;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25px;
  }
}

.search-input {
  height: 36px;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2px;
  padding-left: 15px;
  width: 74%;

  img {
    width: 22px;
    padding-right: 10px;
    cursor: pointer;
  }

  input {
    border: 0;
    background-color: gainsboro;
    width: 800px;
    font-size: 17px;
    padding-bottom: 2px;
    font-weight: 600;
  }
}

.home-page {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  a {
    text-decoration: none;
    font-weight: 700;
    color: #5f5f5f;
  }

  a:hover {
    cursor: pointer;
  }
}

.home-page:hover {
  border-radius: 50px;
  background-color: #e3e0e0;
}

.logout {
  border: 0;
  font-size: 20px;
  max-width: 51px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    width: 30px;
    border-radius: 20px;
  }
}

.logout:hover {
  border-radius: 50px;
  background-color: #e3e0e0;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  border-radius: .4em;
  top: 78px;
  right: 5px;
  max-width: 250px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #DCDCDC;
  background: white;
  z-index: 7;

  a {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    text-decoration: none;

    p {
      margin-left: 5px;
      color: #736f6f;
      font-weight: 600;
    }

    img {
      width: 20px;
      padding-left: 3px;
    }
  }

  a:hover {
    background-color: #e3e0e0;
  }
}

.dropdown-settings {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DCDCDC;
  font-size: 17px;
  text-decoration: none;

  p {
    margin-left: 5px;
    font-weight: 600;
    color: #736f6f;
    text-transform: capitalize;
  }
}

.dropdown-logout {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  border-top: 1px solid #DCDCDC;
  font-size: 17px;

  p {
    margin-left: 5px;
    font-weight: 600;
    color: #736f6f;
  }
}

.dropdown-settings:hover {
  background-color: #e3e0e0;
}

.dropdown-logout:hover {
  cursor: pointer;
  background-color: #e3e0e0;
}

.loader {
  top: 250px;
  left: 600px;
}
