*:focus {
  outline: none;
}

.main-nav {
  position: fixed;
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid gainsboro;
  background: white;
  z-index: 1;
  overflow: scroll;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo-box {
  width: 48px;
  display: flex;
  justify-content: center;
  border-radius: 39px;
  height: 48px;
  align-items: center;
  transition: background-color 0.2s ease-in;
  margin-left: 15px;
}

.logo-box:hover {
  background-color: #e3e0e0;
}
.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25px;
  }
}

.search-input {
  height: 36px;
  margin-left: 15px;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2px;
  padding-left: 15px;
  width: 74%;

  img {
    width: 22px;
    padding-right: 10px;
    cursor: pointer;
  }

  input {
    border: 0;
    background-color: gainsboro;
    width: 800px;
    font-size: 17px;
    padding-bottom: 2px;
    font-weight: 600;
  }
}

.home-page {
  margin-left: 5px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius 0.55s cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
  font-size: 20px;
  margin-right: 8px;

  a {
    text-decoration: none;
    font-weight: 700;
    color: #5f5f5f;
  }

  a:hover {
    cursor: pointer;
  }
}

.home-page:hover {
  border-radius: 50px;
  background-color: #e3e0e0;
}

.show-page {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 45px;
  transition: border-radius 0.55s cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50px;
  }

  img {
    width: 50%;
    border-radius: 20px;
    margin-right: 2px;
  }

  h1 {
    font-size: 18px;
    margin-left: 4px;
    text-transform: capitalize;
    color: #a7a7a7;
    font-weight: 800;
  }

  a:hover {
    cursor: pointer;
  }
}

.show-page:hover {
  border-radius: 50px;
  background-color: #e3e0e0;
}

.logout {
  margin-left: 10px;
  border: 0;
  font-size: 20px;
  max-width: 51px;
  height: 45px;
  transition: border-radius 0.55s cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    width: 37px;
  }
}

.logout:hover {
  border-radius: 50px;
  background-color: #e3e0e0;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  border-radius: .4em;
  top: 78px;
  right: 5px;
  max-width: 250px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #DCDCDC;
  background: white;
  z-index: 7;

  section {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;

    a {
      text-decoration: none;
      margin-left: 5px;
      color: #736f6f;
      font-weight: 600;
    }

    img {
      width: 20px;
      padding-left: 3px;
    }
  }

  section:hover {
    background-color: #e3e0e0;
    cursor: pointer;
  }
}

.dropdown-settings {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DCDCDC;
  font-size: 17px;
  p {
    margin-left: 5px;
    font-weight: 600;
    color: #736f6f;
    text-transform: capitalize;
  }
}

.dropdown-logout {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  border-top: 1px solid #DCDCDC;
  font-size: 17px;

  p {
    margin-left: 5px;
    font-weight: 600;
    color: #736f6f;
  }
}

.dropdown-settings:hover {
  background-color: #e3e0e0;
  cursor: pointer;
}

.dropdown-logout:hover {
  cursor: pointer;
  background-color: #e3e0e0;
}
