// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-pin-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  z-index: 5;
}
