// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-pin-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  z-index: 5;
  cursor: zoom-out;
}

.pin-form-container {
  max-width: 610px;
  width: 100%;
  height: 500px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: columm;
  z-index: 7;
  cursor: default;
}

.pin-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pin-form-title {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid gainsboro;
}

.pin-title {
  width: 92%;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 20px;
    font-weight: 600;
  }
}

.pin-close-button {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  button {
    border: 0;
    font-size: 20px;
    border-radius: 50px;
    background: none;
    background-color: none;
  }

  button:hover {
    background-color: gainsboro;
    cursor: pointer;
  }
}

.pin-close-button:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.pin-form-body {
  height: 75%;
  width: 100%;
  display: flex;
  border-bottom: 2px solid gainsboro;
}

.pin-file-box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: 70%;
    width: 70%;
    background-color: #DBDADA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  label {
    color: #575756;
    cursor: pointer;
    input {
      display: none;
    }
  }

  img {
    width: 30px;
    padding-top: 5px;
  }
}

.pin-input-box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pin-input-title {
  height: 20%;

  input {
    border: 0;
    background-color: gainsboro;
    padding: 10px;
    font-size: 17px;
    margin-top: 5px;
  }
}

.pin-image-preview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  img {
    width: 90px;
    object-fit: contain;
  }
}

.pin-input-description {
  height: 20%;

  textarea {
    border: 0;
    background-color: gainsboro;
    padding: 10px;
    font-size: 17px;
    margin-top: 5px;
    resize: none;
  }
}

.pin-form-submit {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: 35px;
    width: 70px;
    border: 0;
    background-color: #a51728;
    color: white;
    font-weight: 500;
    font-size: 13px;
    transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
  }

  button:hover {
    background-color: #c61b30;
    cursor: pointer;
  }
}

.pin-show-container {
  width: 100%;
  min-height: 100vh;
  cursor: zoom-out;
  background: #e8e8e8;
}

.pin-content-box {
  max-width: 1085px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  padding-top: 34px;
  z-index: 5;
  cursor: default;
  font-family: 'Lato', sans-serif;
}

.pin-content {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  background: white;
}

.pin-save-button {
  width: 75px;
  height: 50px;
  border: 0;
  text-align: center;
  cursor: pointer;
  display: flex;
  background-color: #c32437;
  font-size: 15px;
  align-items: center;
  color: gainsboro;
  transition: cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.5s linear;
  margin-left: 20px;

  img {
    width: 39px;
    margin-right: 2px;
  }
}

.pin-save-button:hover {
  background-color: #ea223a;
  color: white;
}

.pin-show-column {
  display: flex;
  height: 90%;
  width: 100%;
}

.pin-image-show {
  width: 50%;
  padding-top: 10px;
  padding-left: 25px;

  img {
    width: 100%;
    height: 95%;
    border-radius: 10px;
  }
}

.pin-show-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gainsboro;
  }

  h1 {
    font-size: 30px;

    a {
      text-decoration: none;
    }
  }
}

.pin-save-icon {
  display: flex;
}

.pin-edit {
  height: 50px;
  margin-right: 20px;
}

.pin-edit:hover {
  cursor: pointer;
}
