// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-background {
  background-image: image-url('dart_background.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form-container {
  background-color: #F8F8FF;
  width: 380px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 8px;
  box-shadow: 2px 3px 5px 3px #DCDCDC;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

.signup-form {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.signup-user {
  margin-bottom: 5px;

  input {
    padding: 12px 30px 7px 3px;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 20px;
  }
}

.signup-password {
  margin-top: 5px;

  input {
    padding: 12px 30px 7px 3px;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 20px;
  }
}

.signup-errors {
  top: 160px;
  list-style: none;
  text-align: center;
  position: fixed;
  bottom: 288px;
  color: red;
  margin-left: 15px;
}

.signup-submit {
  border-radius: 25px;
    transition: border-radius 0.55s cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
    margin-top: 10px;
    width: 230px;
    margin-left: 60px;
    height: 34px;
    font-size: 20px;
    background-color: #da70d6;
    color: whitesmoke;
    margin-top: 25px;
}

.signup-submit:hover {
  border-radius: 15px;
  background-color: #dda0dd;
  cursor: pointer;
}

.login-link {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dcdcdc;
    text-decoration: none;
    display: block;
    width: 70px;
    height: 15px;
    padding: 11px;
    text-align: center;
    border-radius: 12px;
    color: #00000094;
    font-weight: bold;
    transition: border-radius 0.55s cubic-bezier(0.96, 2, 0.36, 0.25), background-color 0.3s linear;
}

.login-link:hover {
  background-color: #c0c0c0;
}

.signup-greeting {
  h1 {
    font-weight: 700;
    font-size: 40px;
  }
}

.signup-logo {
  img {
    width: 30px;
  }
}
